body {
  margin: 0;
  padding: 0;
  background: #222;
  text-align: center;
  color: #ddd;
}

form {
  margin: 1em;
}

canvas {
  background: #000;
  border: 1px solid #ddd;
  margin: auto;
}

pre {
  width: 1000px;
  height: 5em;
  margin: auto;
  padding: 2em;
  text-align: left;
}
